Data Structure --- User will define the value more than once
1. List
2. Tuple
3. Set
4. Dict

#  1. List Data Structure

**List Creation**

In [ ]:
l = [] # list declare with []
l

[]

In [ ]:
len(l) # find length

0

In [ ]:
list1 = [] # Empty List

In [ ]:
list1

[]

In [ ]:
print(type(list1))

<class 'list'>

In [ ]:
list2 = [10,30,60] # List of integers numbers

In [ ]:
list2

[10, 30, 60]

In [ ]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [ ]:
list3

[10.77, 30.66, 60.89]

In [ ]:
list4 = ['one','two' , "three"] # List of strings

In [ ]:
list4

['one', 'two', 'three']

In [ ]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [ ]:
list5

['Asif', 25, [50, 100], [150, 90]]

In [ ]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [ ]:
list6

[100, 'Asif', 17.765]

In [ ]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]

In [ ]:
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}]

In [ ]:
len(list6) #Length of list

3

In [ ]:
l.append(10) # append use for add the numbr at the end

In [ ]:
l

[10]

In [ ]:
l.append(20)
l.append(30)
l.append(40)

In [ ]:
l

[10, 20, 30, 40]

In [ ]:
id(l) # find address of list

136543526080192

In [ ]:
print(type(l))

<class 'list'>

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
l

[10, 20, 30, 40]

In [ ]:
l.append(40)  # duplicate is allow in the list

In [ ]:
l

[10, 20, 30, 40, 40]

**List Slicing **

In [ ]:
l[:] # slicing is allowing in the list

[10, 20, 30, 40, 40]

In [ ]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [ ]:
mylist[0:3]  # Return all items from 0th to 3rd index location

['one', 'two', 'three']

In [ ]:
mylist[2:5]# List all items from 2nd to 5th index location

['three', 'four', 'five']

In [ ]:
mylist[:3]  # Return first three items

['one', 'two', 'three']

In [ ]:
mylist[:2] # Return first two items

['one', 'two']

In [ ]:
mylist[-3:] # Return last three items

['six', 'seven', 'eight']

In [ ]:
mylist[-2:] # Return last two items

['seven', 'eight']

In [ ]:
mylist[-1] # Return last item of the list

'eight'

In [ ]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
slice =[1,2,3,4,5,6,7,8,9,10]

In [ ]:
slice[1:9:2]

[2, 4, 6, 8]

In [ ]:
mylist[-1][0] # nested slicing

'e'

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
print(mylist[-1][0])
print(mylist[-1][1])
print(mylist[-1][2])
print(mylist[-1][3])
print(mylist[-1][4])

e
i
g
h
t

**List Indexing**

In [ ]:
l[1] # Forwrad indexing

20

In [ ]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)

[]
[10, 30, 60]
[10.77, 30.66, 60.89]
['one', 'two', 'three']
['Asif', 25, [50, 100], [150, 90]]
[100, 'Asif', 17.765]
['Asif', 25, [50, 100], [150, 90], {'John', 'David'}]

In [ ]:
list2[0] # Retreive first element of the list

10

In [ ]:
list=['one','two', 'three','forth']

In [ ]:
list[0] # Retreive first element of the list

'one'

In [ ]:
list4[0][1] # Nested indexing - Access the first character of the first list element

'n'

In [ ]:
l[1]

20

In [ ]:
l[3]

40

In [ ]:
l[-2] # Backword indexing

30

In [ ]:
list4[-1] # Last item of the list

'three'

In [ ]:
list5[-1] # Last item of the list

[150, 90]

In [ ]:
list3[-3]

10.77

In [ ]:
l[-4]

10

**Add , Remove & Change Items**

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.append('twelve')

In [ ]:
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'twelve',
 'Eleven']

In [ ]:

mylist.insert(10,'Eleven')  # Add item at index location 10

In [ ]:
mylist.append('thirteen')
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'twelve',
 'Eleven',
 'forteen',
 'thirteen']

In [ ]:
mylist.remove('twelve')  #Remove item "twelve"

In [ ]:
mylist.pop() # Remove last item of the list

'thirteen'

In [ ]:
mylist.pop(8) # Remove item at index location 8
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'ten',
 'Eleven',
 'forteen']

In [ ]:
del mylist[7] # Remove item at index location 7
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'ten',
 'Eleven',
 'forteen']

In [ ]:
# change value of the string
mylist[0] = '1'
mylist[1] = '2'
mylist[2] = '3'
mylist

['1', '2', '3', 'four', 'five', 'six', 'seven', 'ten', 'Eleven', 'forteen']

In [ ]:
demolist = [1,2,3,4,5,6,7,8,9]

In [ ]:
demolist

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
demolist.clear() # Empty list/Remove all items from the list

In [ ]:
demolist

[]

In [ ]:
del demolist # Delete the whole list
demolist

NameError: name 'demolist' is not defined

# **Copy List**

In [ ]:
mylist

['1', '2', '3', 'four', 'five', 'six', 'seven', 'ten', 'Eleven', 'forteen']

In [ ]:
mylist1 = mylist # Create a new reference  "mylist1"
mylist1

['1', '2', '3', 'four', 'five', 'six', 'seven', 'ten', 'Eleven', 'forteen']

In [ ]:
id(mylist) , id(mylist1)  # The address of both mylist & mylist1 will be the same

(140231586817536, 140231586817536)

In [ ]:
mylisr2= mylist.copy()  # Create a copy of the list

In [ ]:
id(mylisr2) # The address of mylist2 will be different from mylist because mylis

140230601133056

In [ ]:
mylist[0] = 4

In [ ]:
mylist

[4, '2', '3', 'four', 'five', 'six', 'seven', 'ten', 'Eleven', 'forteen']

In [ ]:
print(mylist1) # mylist1 will be also impacted as it is pointing to the same list
print(mylisr2) # Copy of list won't be impacted due to changes made on the original list

[4, '2', '3', 'four', 'five', 'six', 'seven', 'ten', 'Eleven', 'forteen']
['1', '2', '3', 'four', 'five', 'six', 'seven', 'ten', 'Eleven', 'forteen']

In [ ]:
l1

[10, 20, 30, 40]

In [ ]:
l == l1

True

In [ ]:
print(len(l))
print(len(l1))

4
4

In [ ]:
l1.append(2.3)   # multiple data type can define in the list
l1.append(True)
l1.append(1+2j)

In [ ]:
l1

[10, 20, 30, 40, 2.3, True, (1+2j)]

In [ ]:
l1.count(10) # count repeated value in list

1

In [ ]:
l1.count(100)

0

In [ ]:
l

[10, 20, 30, 40, 40]

In [ ]:
l1

[10, 20, 30, 40, 2.3, True, (1+2j)]

In [ ]:
l2=l1.copy()

In [ ]:
l2

[10, 20, 30, 40, 2.3, True, (1+2j)]

In [ ]:
l2.remove(1+2j) # remove value form the list

In [ ]:
l2

[10, 20, 30, 40, 2.3, True]

In [ ]:
l2.clear() # delete all element from the list

In [ ]:
del l2  # delete l2

In [ ]:
for i in l:
  print(i)

10
20
30
40
40

In [ ]:
l

[10, 20, 30, 40, 40, [1, 2, 3, 'hi']]

In [ ]:
l.remove(40) # it will delete first value from the list

In [ ]:
l

[10, 20, 30, 40, [1, 2, 3, 'hi']]

In [ ]:
l.pop() # remove the element by index wise

[1, 2, 3, 'hi']

In [ ]:
l1

[10, 20, 30, 40, 2.3, True, (1+2j)]

In [ ]:
l1.pop()

(1+2j)

In [ ]:
l1.pop(3)

40

In [ ]:
l1

[10, 20, 30, 2.3, True]

In [ ]:
l

[10, 20, 30, 40]

In [ ]:
l.insert(3,35) # (index no, value)

In [ ]:
l

[10, 20, 30, 35, 40]

In [ ]:
l2=[]

In [ ]:
l2

[]

In [ ]:
l1

[10, 20, 30, 2.3, True]

In [ ]:
l.extend(l1) # extend the list

In [ ]:
l

[10, 20, 30, 35, 40, 10, 20, 30, 2.3, True]

In [ ]:
l1.index(30) # it will print index value of element

2

# **Join Lists**

In [ ]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [ ]:
print(list1)
print(list2)

['one', 'two', 'three', 'four']
['five', 'six', 'seven', 'eight']

In [ ]:
list3 = list1 + list2  # Join two lists by '+' operator

In [ ]:
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
list1.append(list2) # Append list2 in list1

In [ ]:
list1

['one', 'two', 'three', 'four', ['five', 'six', 'seven', 'eight']]

# **List Membership**

In [ ]:
list1

['one', 'two', 'three', 'four', ['five', 'six', 'seven', 'eight']]

In [ ]:
'one' in list1 # Check if 'one' exist in the list

True

In [ ]:
'ten' in list1 # Check if 'ten' exist in the list '

False

# **Reverse & Sort List**

In [ ]:
l=[1,2,3,8,4,5,9,6,7]

In [ ]:
l.sort() # Ascending order

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list1

['one', 'two', 'three', 'four', ['five', 'six', 'seven', 'eight']]

In [ ]:
list1.reverse() # Reverse the list
list1

[['five', 'six', 'seven', 'eight'], 'four', 'three', 'two', 'one']

In [ ]:
list2

['five', 'six', 'seven', 'eight']

In [ ]:
list2.reverse() # Reverse the list
list2

['eight', 'seven', 'six', 'five']

In [ ]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l.sort(reverse=True) # descending order

In [ ]:
l

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
l3= ['a','d','c','b','f','g','e']

In [ ]:
l3

['a', 'd', 'c', 'b', 'f', 'g', 'e']

In [ ]:
l3.sort()

In [ ]:
l3

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
l3.sort(reverse=True)
l3

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
l4=[3,5.6,'a',1+2j] #
l4

[3, 5.6, 'a', (1+2j)]

In [ ]:
l4.sort() # it will throw error, only similar data type allowed

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort() # Sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [ ]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse=True) # Sort list in descending order
mylist3

In [ ]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Returns a new sorted list and doesn't change original l

[11, 21, 33, 65, 88, 98]

In [ ]:
mylist4

[88, 65, 33, 21, 11, 98]

**Loop through a list**

In [ ]:
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
for i in list3:
   print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(list3):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

**Count**

In [ ]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [ ]:
list10.count('one') # Number of times item "one" occurred in the list.

3

In [ ]:
list10.count('two') # Occurence of item 'two' in the list

2

In [ ]:
# All / Any

In [ ]:
L1 = [1,2,3,4,0]

In [ ]:
all(L1) # Will Return false as one value is false (Value 0)

False

In [ ]:
any(L1) # Will Return True as we have items in the list with True value

True

In [ ]:
l2=[1,2,3,4]

In [ ]:
l3=[0,0,0,0]

In [ ]:
all(l2)

True

In [ ]:
any(l3)

False

# **2. Truple**

Tuple Creation

In [ ]:
tup = () #Empty Tuple

In [ ]:
tup

()

In [ ]:
tup1 = (10,20,30) # Tuple of integers numbers
tup1

(10, 20, 30)

In [ ]:
tup2= (10.77,30.66,60.89) # Tuple of float numbers
tup2

(10.77, 30.66, 60.89)

In [ ]:
tru3 = ('one','two' , "three") # Tuple of strings
tru3

('one', 'two', 'three')

In [ ]:
tru4 = ('welcome', 25 ,(50, 100),(150, 90)) # Nested Tuples
tru4

('welcome', 25, (50, 100), (150, 90))

In [ ]:
tup5 = (100, 'hello', 17.765) # Tuple of mixed data types
tup5

(100, 'hello', 17.765)

In [ ]:
tup6 = ('hello', 25 ,(50, 100),(150, 90) , ['Asif' , 'Python'], (99,22,33))
tup6

('hello', 25, (50, 100), (150, 90), ['Asif', 'Python'], (99, 22, 33))

In [ ]:
len(tup6)

6

Tuple Indexing

In [ ]:
tup1[1] #retrive first element of the tuple

20

In [ ]:
tru3[2] #retrive second element of the tuple

'three'

In [ ]:
tru3[2][1] # Nested Index - access second index first tuple elelment

'h'

In [ ]:
tup1[-1] #last ieem of the tuple

30

**Tuple Slicing**

In [ ]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple[0:3] # Return all items from 0th to 3rd index location

('one', 'two', 'three')

In [ ]:
mytuple[2:5]# List all items from 2nd to 5th index location

('three', 'four', 'five')

In [ ]:
mytuple[:3] # Return first three items

('one', 'two', 'three')

In [ ]:
mytuple[:2]

('one', 'two')

In [ ]:
mytuple[-3] # Return last third items

'six'

In [ ]:
mytuple[-3:] # Return last three items

('six', 'seven', 'eight')

In [ ]:
mytuple[-1] # Return last item of the tuple

'eight'

**Remove & Change items**

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
mytuple

In [ ]:
mytuple[0] = 1 # Tuples are immutable which means we cannot change items

TypeError: 'tuple' object does not support item assignment

In [ ]:
del mytuple[0] # Tuples are immutable means we can't change truple value
mytuple

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
demotuple = (1,2,3,4,5,6,7,8,9)

In [ ]:
demotuple

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
del demotuple #Deleting entire tuple object is possible

**Loop through a tuple**

In [ ]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
for i in mytuple:
  print(i)

one
two
three
four
five
six
seven
eight

In [ ]:
for i in enumerate(mytuple):
  print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

**Truple Membership**

In [ ]:
mytuple

NameError: name 'mytuple' is not defined

In [ ]:
'one' in mytuple #check if 'one' is exist in the list

True

In [ ]:
'ten' in mytuple #check if 'ten' is exist in the list

False

In [ ]:
if 'one' in mytuple: #check if 'one'  exist in the list
    print(' yes')
else:
    print('no')

# **Index Position**

In [ ]:
mytuple = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mytuple.index('three') # Display index postion of value

2

In [ ]:
mytuple.index('seven')

6

In [ ]:
mytuple.index('eight')

7

# **Sorting**

In [ ]:
mytuple2 = (1,2,4,5,3,8,6,7,10,9)

In [ ]:
mytuple1 = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [ ]:
sorted(mytuple1) # Sort in ascending order

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [ ]:
sorted(mytuple2) # Sort in ascending order

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
sorted(mytuple2, reverse=True) # Sort in descending order

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
sorted(mytuple1, reverse=True) # Sort in descending order

['two', 'three', 'six', 'seven', 'one', 'four', 'five', 'eight']

# **3. SETS**

In [ ]:
#Set Creation

In [ ]:

myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [ ]:
len(myset) #Length of the set

5

In [ ]:
my_set = {1,1,2,2,3,4,5,5} # Duplicate elements are not allowed.
my_set

{1, 2, 3, 4, 5}

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [ ]:
myset2 = {'Asif' , 'John' , 'Tyrion'} # Set of Strings
myset2

{'Asif', 'John', 'Tyrion'}

In [ ]:
myset3 = {10,20, "Hola", (11, 22, 32)} # Mixed datatypes
myset3

{(11, 22, 32), 10, 20, 'Hola'}

In [ ]:
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like li
myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4 = set() # Create an empty set
print(type(myset4))

<class 'set'>

In [ ]:
my_set1 = set(('one' , 'two' , 'three' , 'four')) # inser value in the set
my_set1

{'four', 'one', 'three', 'two'}

In [ ]:
# Loop through a Set

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
for i in myset:
  print(i)

eight
three
six
four
five
seven
one
two

In [ ]:
for i in enumerate(myset):
  print(i)

(0, 'eight')
(1, 'three')
(2, 'six')
(3, 'four')
(4, 'five')
(5, 'seven')
(6, 'one')
(7, 'two')

In [ ]:
# Set Membership

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
'one' in myset # Check if 'one' exist in the set

True

In [ ]:
'ten' in myset # Check if 'ten' exist in the set

False

In [ ]:
if 'one' in myset: # Check if 'one' exist in the set
    print('one is present in the set')
else:
    print('one is not present in the set')

one is present in the set

In [ ]:
if 'ten' in myset: # Check if 'ten' exist in the set
    print('Ten is present in the set')
else:
    print('Ten is not present in the set')

Ten is not present in the set

In [ ]:
# Add & Remove items

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.add('nine') # Add item to a set using add() method

In [ ]:
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.update(['ten', 'eleven', 'twelve']) # Add multiple items to a set using update() method

In [ ]:
myset

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [ ]:
myset.remove('nine') # Remove item from a set using remove() method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'ten',
 'three',
 'twelve',
 'two'}

In [ ]:
 myset.discard('ten') # remove item from a set using discard() method
myset

{'eight',
 'eleven',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'twelve',
 'two'}

In [ ]:
myset.clear() # Delete all items in a set
myset

set()

In [ ]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

In [ ]:
# Copy Set

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 = myset # Create a new reference "myset1"

In [ ]:
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
id(myset), id(myset1)  # The address of both myset & myset1 will be the same as

(140649158917056, 140649158917056)

In [ ]:
copyset = myset.copy() # Create a copy of set using copy() method

In [ ]:
copyset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
id(copyset)

140649158916832

In [ ]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset1 # myset1 will be also impacted as it is pointing to the same Set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
copyset # copyset will not be impacted as it is created using copy() method

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
# Set Operation

In [ ]:
setoperation1 = {1,2,3,4,5}
setoperation2 = {4,5,6,7,8}
seoperation3 = {8,9,10}

In [ ]:
setoperation1|setoperation2 # Union of two sets (all element from both set. No duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
setoperation1.union(setoperation2) # Union of two sets

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
setoperation1.union(setoperation2, seoperation3) # Union of three sets

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
setoperation1.update(setoperation2, seoperation3 ) # Update the set
setoperation1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A & B #Intersection of A and B (Common items in both sets)

{4, 5}

In [ ]:
A.intersection_update(B)
A

{4, 5}

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A - B # set of elements that are only in A but not in B

{1, 2, 3}

In [ ]:
A.difference(B) # Difference of sets

{1, 2, 3}

In [ ]:
 B - A # set of elements that are only in B but not in A

{6, 7, 8}

In [ ]:
B.difference_update(A)
B

{6, 7, 8}

In [ ]:
#Symmetric Difference

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [ ]:
A ^ B # Symmetric difference (Set of elements in A and B but not in both.

{1, 2, 3, 6, 7, 8}

In [ ]:
 A.symmetric_difference(B) # Symmetric difference of sets

{1, 2, 3, 6, 7, 8}

In [ ]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 6, 7, 8}

In [ ]:
# Subset , Superset & Disjoint

In [ ]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [ ]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are  present in A

True

In [ ]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B  present in A

True

In [ ]:

C.isdisjoint(A) # Two sets are said to be disjoint sets if they have no common element

True

In [ ]:
B.isdisjoint(A)

False

In [ ]:
# Other Builtin functions

In [ ]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
sum(A)

45

In [ ]:
max(A)

9

In [ ]:
min(A)

1

In [ ]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [ ]:
len(A)

9

In [ ]:
D = sorted(A,reverse=True) # Sort the set in descending order
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
sorted(A)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# **Dictionary**

In [ ]:
# Create Dictionary

In [ ]:
mydict = {} # Empty Dictionary
mydict

{}

In [ ]:
mydict ={1:'one', 2:'two', 3:'three'} # Dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) # Create dictionary using dict()
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [ ]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [ ]:
mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [ ]:
mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [ ]:
mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [ ]:
mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [ ]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys
mydict3

{'d': None, 'b': None, 'a': None, 'c': None}

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'}
value = 10
mydict3 = dict.fromkeys(keys , value)
mydict3

{'d': 10, 'b': 10, 'a': 10, 'c': 10}

In [ ]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of
mydict3

{'d': [10, 20, 30], 'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30]}

In [ ]:
value.append(40)
mydict3

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40]}

In [ ]:
# Accessing Items

In [ ]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [ ]:
mydict[1]# Access item using key

'one'

In [ ]:
mydict.get(3) # Access item using get() method

'three'

In [ ]:
mydict1 = {'Name':'Asif' , 'ID': 74123 , 'DOB': 1991 , 'job' :'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 74123, 'DOB': 1991, 'job': 'Analyst'}

In [ ]:
mydict1['Name'] # Access item using key

'Asif'

In [ ]:
mydict1.get('job') # Access item using get() method

'Analyst'

In [ ]:
# Add, Remove & Change Items

In [1]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [2]:
mydict1['DOB'] = 1992 # Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Delhi'}

In [3]:
dict1 = {'DOB':1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [4]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Delhi',
 'Job': 'Analyst'}

In [5]:
mydict1.pop('Job') # Removing items in the dictionary using Pop method
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Delhi'}

In [6]:
mydict1.popitem() # A random item is removed

('Address', 'Delhi')

In [7]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [9]:
del [mydict1['ID']] # Removing item using del keyword
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [10]:
mydict1.clear() # Delete all items in the dictionary
mydict1

{}

In [11]:
del mydict1 # Delete the dictionary object
mydict1

NameError: name 'mydict1' is not defined

In [ ]:
# Copy Dictionary

In [12]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}

In [13]:
mydict1 =mydict # Create a new reference "mydict1"

In [14]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [15]:
id (mydict), id(mydict1) # The address of both mydict & mydict1 will be the same as

(139954017211840, 139954017211840)

In [17]:
mydict2 = mydict.copy()  # Create a copy of the dictionary

In [18]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [20]:
id(mydict2) # the address of mydict2 will be diffrent from mydict

139953518570752

In [22]:
mydict['DOB'] = 1992 # Changing Dictionary Items

In [23]:
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Hilsinki'}

In [24]:
mydict1 # mydict1 will be also impacted as it is pointing to the same Dictionary

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Hilsinki'}

In [25]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [ ]:
# Loop through a Dictionary

In [27]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [35]:
for i in mydict1:
  print(mydict1[i])

Asif
12345
1991
Hilsinki

In [ ]:
# Dictionary Membership

In [36]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [37]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [39]:
 'Asif' in mydict1 # Membership test can be only done for keys.

False

In [41]:
'ID' in mydict1

True

In [42]:
'Address' in mydict1

False

In [ ]:
# All / Any

In [43]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [44]:
all(mydict1) # Will Return false as one value is false (Value 0)

True

In [45]:
any(mydict1) # will return false as one value is false (value 0)

True